@font-face {
    /* ① ここにfont-familyで指定したい名前を書く*/
    font-family: "lightnovel";

    /* フォントが置かれているパスを書く */
    src: url("../font/LanobePOPv2/LightNovelPOPv2.otf") format("truetype")
}

.edge {
    text-shadow:
        1px 1px 0px #ffff, -1px -1px 0px #ffff,
        -1px 1px 0px #ffff, 1px -1px 0px #ffff,
        1px 0px 0px #ffff, -1px 0px 0px #ffff,
        0px 1px 0px #ffff, 0px -1px 0px #ffff;
}

.content-background {
    width: 100%;
    background-image: url(../image/background.png);
    background-size: cover;
    background-repeat: repeat;
}

.menubar {
    position: fixed;
    z-index: 100;
    height: 10%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    background-color: rgba(255, 255, 255, 0.6);
}

#top-icon {
    height: 100%;
    width: 20%;

}

.menu-element {
    font-family: "lightnovel";
    height: 100%;
    width: 20%;
    Text-decoration: none;

}
.menu-icon{
    transform: rotate(0deg);
}

.menu-element:hover  .menu-icon{
    transform: rotate(-20deg);
}

.right {
    vertical-align: middle;
    display: inline-block;
}

.sector {
    position: relative;
    height: 30%;
    width: auto;
}

.s1 {
    top: 10%;
}

#footer {
    position: fixed;
    bottom: 0;
    /*下に固定*/

    height: 5%;
    width: 100%;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-wrap: wrap;

}

#down-icon {
    height: 100%;
    width: 20%;
    left: 0;
}

.footer-element {
    font-family: "lightnovel";
    height: 100%;
    width: 20%;
    margin-left: auto;
    Text-decoration: none;
}