.voicebanks-title{
    text-align: center;
    font-family: "lightnovel";
    color:rgb(34,108,158);
    text-shadow: 
    2px 2px 0px #f3f1e6, -2px -2px 0px #f3f1e6,
    -2px 2px 0px #f3f1e6,  2px -2px 0px #f3f1e6;
    margin: 0 auto;
}

.linkelements{
    text-align: center;
    font-family: "lightnovel";
    color:rgb(34,108,158);
    text-shadow: 
    2px 2px 0px #f3f1e6, -2px -2px 0px #f3f1e6,
    -2px 2px 0px #f3f1e6,  2px -2px 0px #f3f1e6;
    margin: 0 auto;

}

.linkline{
    text-decoration: none;
}